<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista productos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let item of products; let i=index" (click)="getProductById(item.idProduct)">
      <ion-thumbnail>
        <ion-img src="{{item.photo}}"></ion-img>
      </ion-thumbnail>
      <ion-label>   {{item.name}}  ${{item.price}}</ion-label>
      <ion-button (click)="addProductToCart(item.idProduct)">
      <!-- (click)="addProductToCart(item.id)"> -->
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
